@inherits LayoutComponentBase
@inject NavigationManager NavigationManager



<div class="app-container">

    <ErrorBoundary>
        <ChildContent>
            <BSNTools.Web.Components.MessageBox />
            <div class="app-main">

                <div class="desktop">
                    @Body

                    <div class="taskbar">
                        <div class="taskbar-items">
                            <NavLink ActiveClass="active" Match="NavLinkMatch.All" href="/">
                                <img src="./img/ctrlpnl.png" />
                            </NavLink>

                            <NavLink ActiveClass="active" href="/conversion">
                                <img src="./img/ctrlpnl.png" />
                            </NavLink>

                            <NavLink ActiveClass="active" href="/ip">
                                <img src="./img/ctrlpnl.png" />
                            </NavLink>

                            <NavLink ActiveClass="active" href="/settings">
                                <img src="./img/ctrlpnl.png" />
                            </NavLink>

                            <NavLink ActiveClass="active" href="/about">
                                <img src="./img/ctrlpnl.png" />
                            </NavLink>


                            <NavLink ActiveClass="active" href="/debug">
                                <img src="./img/ctrlpnl.png" />
                            </NavLink>

                        </div>

                        <div class="taskbar-tray">
                            <div class="taskbar-clock">
                                <span id="tray-clock">@currentTime</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ChildContent>
        <ErrorContent>
            <div class="error-screen">
                @{
                    var randomAddresses = GenerateRandomErrorAddreses();
                }

                <p>*** STOP: 0x@(randomAddresses[0]) (@string.Join(", ", @randomAddresses.Skip(1).Take(4).Select(a => "0x" + a)))</p>

                <p>
                    @context.Message
                </p>

                <p>
                    @context.Source
                </p>

                <p>
                    @context.StackTrace
                </p>

                <p>
                    Applikation muss neu geladen werden. Bitte F5 drücken oder die Seite neu laden.
                </p>
            </div>
        </ErrorContent>
    </ErrorBoundary>


</div>

@code {
    System.Timers.Timer timer = new System.Timers.Timer(1000);

    string currentTime = DateTime.Now.ToString("HH:mm");

    List<string> GenerateRandomErrorAddreses()
    {
        List<string> addresses = new List<string>();

        for (int i = 0; i < 64; i++)
        {
            addresses.Add(Random.Shared.GetHexString(8, false));

        }

        return addresses;
    }

    protected override Task OnInitializedAsync()
    {
        timer.Elapsed += async (sender, e) =>
        {
            await InvokeAsync(() =>
            {
                currentTime = DateTime.Now.ToString("HH:mm");
            });
        };

        timer.Start();

        return base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {

    }
}