<div class="number-input-wrapper">
    @if (Format != Win286InputNumberFormat.Decimal)
    {
        <input type="text" value="@frontendValue" @onchange="OnInputChange" min="@Min" max="@Max" step="1">
    }
    else
    {
        <input type="number" value="@Value" @onchange="OnInputChange" min="@Min" max="@Max" step="1">
    }

    <div class="number-input-buttons">
        <button @onclick="Increment">▲</button>

        <button @onclick="Decrement">▼</button>
    </div>
</div>
