@page "/ip"
@inject MessageBoxService MessageBox
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<PageTitle>IP-Tools</PageTitle>

<Window Title="IP-Tools">
    <MenuBar>
        <WindowMenuBar>

            <MenuBarItem Title="Einstellungen">
                <DropdownItem>
                    <span>...</span>
                </DropdownItem>
            </MenuBarItem>

            <MenuBarItem Title="Tools">
                <DropdownItem>
                    <span>...</span>
                </DropdownItem>
            </MenuBarItem>

        </WindowMenuBar>
    </MenuBar>

    <Content>
        <p>
            <strong>IP-Tools</strong>
        </p>


        <PanelBox Title="IP-Adresse/CIDR">
            <input type="text" @bind-value="ipAddress">

            <button @onclick="OnCalculateClick">
                Berechnen
            </button>
        </PanelBox>

        @if (ipNetwork != null)
        {
            <PanelBox>
                @if (subnets != null)
                {

                    <NT4ComboBox Items="subnets.ToList()" @bind-SelectedItem="selected"></NT4ComboBox>

                    @if (selected != null)
                    {
                        <div style="margin-top: 10px;">
                            <strong>Ausgewähltes Subnetz:</strong>
                            <ul>
                                <li><strong>Adresse: </strong> @selected.ToString()</li>
                                <li><strong>Subnetzmaske: </strong> @selected.Netmask.ToString()</li>
                                <li><strong>Netzwerkadresse: </strong> @selected.Network.ToString()</li>
                                <li><strong>Broadcastadresse: </strong> @selected.Broadcast.ToString()</li>
                                <li><strong>Erste Adresse: </strong> @selected.First.ToString()</li>
                                <li><strong>Erste nutzbare Adresse: </strong> @selected.FirstUsable.ToString()</li>
                                <li><strong>Letzte Adresse: </strong> @selected.Last.ToString()</li>
                                <li><strong>Letzte nutzbare Adresse: </strong> @selected.LastUsable.ToString()</li>
                                <li><strong>Insgesamt / Nutzbar: </strong> @selected.Total.ToString() / @selected.Usable.ToString()</li>
                            </ul>
                        </div>

                    }
                }

                <code>

                    <div>
                        <strong>Adresse: </strong> @ipNetwork.ToString()

                    </div>

                    <div>
                        <strong>Subnetzmaske: </strong> @ipNetwork.Netmask.ToString()

                    </div>

                    <div>
                        <strong>Netzwerkadresse: </strong> @ipNetwork.Network.ToString()

                    </div>

                    <div>
                        <strong>Broadcastadresse: </strong> @ipNetwork.Broadcast.ToString()

                    </div>

                    <div>
                        <strong>Erste Adresse: </strong> @ipNetwork.First.ToString()

                    </div>

                    <div>
                        <strong>Erste nutzbare Adresse: </strong> @ipNetwork.FirstUsable.ToString()

                    </div>

                    <div>
                        <strong>Letzte Adresse: </strong> @ipNetwork.Last.ToString()

                    </div>

                    <div>
                        <strong>Letzte nutzbare Adresse: </strong> @ipNetwork.LastUsable.ToString()

                    </div>


                    <div>
                        <strong>Insgesamt / Nutzbar: </strong> @ipNetwork.Total.ToString() / @ipNetwork.Usable.ToString()

                    </div>

                    @if (subnets != null)
                    {
                        <div style="margin-top: 10px;">
                            <strong>Subnetze:</strong>
                            <ul>
                                @foreach (var subnet in subnets)
                                {
                                    <li>@subnet.ToString()</li>
                                }
                            </ul>
                        </div>
                    }
                </code>
            </PanelBox>
        }


        <div class="action-buttons">
            <button @onclick="OnCalculateClick">
                Berechnen
            </button>

            <button @onclick="OnSubnettingClick">
                Subnetting
            </button>
        </div>


    </Content>
</Window>

@code {
    string ipAddress = "";

    IPNetwork2 ipNetwork;

    IPNetwork2 selected;

    IPNetworkCollection subnets;


    private async Task OnCalculateClick()
    {
        await InvokeAsync(() =>
        {
            NavigationManager.NavigateTo(NavigationManager.GetUriWithQueryParameters(new Dictionary<string, object?>
            {
                ["ip"] = ipAddress
            }));


        });
    }

    private async Task OnSubnettingClick()
    {
        string cidr = await JSRuntime.InvokeAsync<string>("prompt", "Geben Sie die CIDR ein:");

        if (!string.IsNullOrEmpty(cidr))
        {
            await InvokeAsync(() =>
            {
                NavigationManager.NavigateTo(NavigationManager.GetUriWithQueryParameters(new Dictionary<string, object?>
                {
                    ["ip"] = ipAddress,
                    ["cidr"] = cidr
                }));
            });
        }

        // Der Code "wartet" hier, bis der Nutzer geklickt hat

    }
}