@page "/ip"
@inject MessageBoxService MessageBox
@inject InputBoxService InputBox
@inject CustomDialogService CustomDialog
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<PageTitle>IP-Tools</PageTitle>

@if (ipNetwork != null)
{
    <Window Title="IP-Tools">
        <MenuBar>
            <WindowMenuBar>

                <MenuBarItem Title="Aktionen">
                    <DropdownItem OnClick="OnCalculateClick">
                        <span>Neue IP-Adresse berechnen</span>
                    </DropdownItem>

                    <DropdownItem OnClick="OnSubnettingClick">
                        <span>Subnetze berechnen</span>
                    </DropdownItem>
                </MenuBarItem>

                <MenuBarItem Title="Tools">
                    <DropdownItem OnClick="OnTestClick">
                        <span>Infos</span>
                    </DropdownItem>
                </MenuBarItem>

            </WindowMenuBar>
        </MenuBar>

        <Content>
            <div class="content-container">
                <div class="terminal-container">

                    <div class="terminal-text">
                        <p>IP-Konfiguration</p>

                        <p class="indented-output">
                            <span>
                                @("Adresse".PadRight(25, '.')) @ipNetwork.ToString()
                            </span>

                            <span>
                                @("Subnetzmaske".PadRight(25, '.')) @ipNetwork.Netmask.ToString()
                            </span>

                            <span>
                                @("Netzadresse".PadRight(25, '.')) @ipNetwork.Network.ToString()
                            </span>

                            <span>
                                @(ipNetwork.Broadcast != null ? $"Broadcastadresse".PadRight(25, '.') + $" {ipNetwork.Broadcast}" : "Kein Broadcast (Host-Adresse)")
                            </span>

                            <span>
                                @("Erste Adresse".PadRight(25, '.')) @ipNetwork.First.ToString()
                            </span>

                            <span>
                                @("Erste nutzbare Adresse".PadRight(25, '.')) @ipNetwork.FirstUsable.ToString()
                            </span>

                            <span>
                                @("Letzte Adresse".PadRight(25, '.')) @ipNetwork.Last.ToString()
                            </span>

                            <span>
                                @("Letzte nutzbare Adresse".PadRight(25, '.')) @ipNetwork.LastUsable.ToString()
                            </span>

                            <span>
                                @("Insgesamt / Nutzbar".PadRight(25, '.')) @ipNetwork.Total.ToString() / @ipNetwork.Usable.ToString()
                            </span>

                            @if (!string.IsNullOrEmpty(CIDR))
                            {
                                subnets = ipNetwork.Subnet(Convert.ToByte(CIDR));


                                <span>
                                    @("Subnetze".PadRight(25, '.')) @subnets.Count
                                </span>

                                @foreach (IPNetwork2 subnet in subnets.ToArray())
                                {
                                    <span>@subnet.First.ToString().PadLeft(38, '.')</span>
                                }

                            }
                        </p>


                    </div>

                </div>
            </div>
        </Content>
    </Window>

    @if (!string.IsNullOrEmpty(CIDR))
    {

        <Window Title="Subnetz">
            <Content>

                @{
                    subnets = ipNetwork.Subnet(Convert.ToByte(CIDR));

                    var subnetList = subnets.ToList();
                }

                <div class="content-container">
                    <div class="terminal-container">

                        <div class="terminal-text">
                            @foreach (var subnet in subnetList)
                            {
                                <p>Subnetz-Konfiguration</p>

                                <p class="indented-output">
                                    <span>
                                        @("Subnetz".PadRight(25, '.')) @(subnetList.IndexOf(subnet) + 1)
                                    </span>

                                    <span>
                                        @("Adresse".PadRight(25, '.')) @subnet.ToString()
                                    </span>

                                    <span>
                                        @("Subnetzmaske".PadRight(25, '.')) @subnet.Netmask.ToString()
                                    </span>

                                    <span>
                                        @("Netzadresse".PadRight(25, '.')) @subnet.Network.ToString()
                                    </span>

                                    <span>
                                        @(subnet.Broadcast != null ? $"Broadcastadresse".PadRight(25, '.') + $" {subnet.Broadcast}" : "Kein Broadcast (Host-Adresse)")
                                    </span>

                                    <span>
                                        @("Erste Adresse".PadRight(25, '.')) @subnet.First.ToString()
                                    </span>

                                    <span>
                                        @("Erste nutzbare Adresse".PadRight(25, '.')) @subnet.FirstUsable.ToString()
                                    </span>

                                    <span>
                                        @("Letzte Adresse".PadRight(25, '.')) @subnet.Last.ToString()
                                    </span>

                                    <span>
                                        @("Letzte nutzbare Adresse".PadRight(25, '.')) @subnet.LastUsable.ToString()
                                    </span>

                                    <span>
                                        @("Insgesamt / Nutzbar".PadRight(25, '.')) @subnet.Total.ToString() / @subnet.Usable.ToString()
                                    </span>
                                </p>

                            }

                        </div>

                    </div>
                </div>
            </Content>
        </Window>

    }
}
else
{
    <Window Title="IP-Tools">
        <Content>

        </Content>
    </Window>
}


@code {
    string ipAddress = "";

    IPNetwork2 ipNetwork;

    IPNetwork2 selected;

    IPNetworkCollection subnets;

    byte cidrParsed;

    async Task OnTestClick()
    {
        string myValue = "";

        var result = await CustomDialog.ShowAsync<string>("Test", (@<div>
    <p>Erste Adresse: </p>
    <p>@string.Join(".", ipNetwork.First.GetAddressBytes().Select(i => Convert.ToString(i, 2).PadLeft(8, '0')))</p>
    <p>Subnetzmaske: </p>
    <p>@string.Join(".", ipNetwork.Netmask.GetAddressBytes().Select(i => Convert.ToString(i, 2).PadLeft(8, '0')))</p>
    <p>Netzadresse: </p>
    <p>@string.Join(".", ipNetwork.Network.GetAddressBytes().Select(i => Convert.ToString(i, 2).PadLeft(8, '0')))</p>
    <button @onclick="() => CustomDialog.Close(null)">OK</button>
</div>
    ), width: 500);
    }

    private async Task OnCalculateClick()
    {
        string addr = await InputBox.ShowAsync("IP-Adresse eingeben", "Gebe die IP-Adresse ein:");

        if (!string.IsNullOrEmpty(addr))
        {
            NavigationManager.NavigateTo(NavigationManager.GetUriWithQueryParameters(new Dictionary<string, object?>
            {
                ["ip"] = addr,
                ["cidr"] = null
            }));
        }
    }

    private async Task OnSubnettingClick()
    {
        string cidr = await InputBox.ShowAsync("Subnetz-CIDR eingeben", "Gebe die CIDR ein:");

        if (!string.IsNullOrEmpty(cidr))
        {
            await InvokeAsync(() =>
            {
                NavigationManager.NavigateTo(NavigationManager.GetUriWithQueryParameters(new Dictionary<string, object?>
                {
                    ["ip"] = IPAddress,
                    ["cidr"] = cidr
                }));


            });
        }

        // Der Code "wartet" hier, bis der Nutzer geklickt hat

    }
}